<table id="software-index-table" data-source="<%= sft_softwares_path(format: :json) %>">
  <thead>
  <tr>
    <th><%= I18n.t 'sft.software.index.table.vendor' %></th>
    <th><%= I18n.t 'sft.software.index.table.software' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>