<table id="import-jobs-table" data-source="<%= vul_import_jobs_path(format: :json) %>">
  <thead>
  <tr>
    <th><%= I18n.t 'vul.import_jobs.index.table.import_date' %></th>
    <th><%= I18n.t 'vul.import_jobs.index.table.import_logs_count' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>