<h1>Details about Import job from <%= I18n.l @import_job.created_at, format: :long %></h1>

<br>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Time</th>
    <th>Vulnerability</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @import_job.import_logs.each do |log| %>
    <tr>
      <th><%= I18n.l log.created_at, format: :long%></th>
      <th><%= link_to log.vulnerability.cve_id, vul_vulnerability_path(log.vulnerability) %></th>
      <th><%= log.action == 0 ? 'Create' : 'Update' %></th>
    </tr>
  <% end %>
  </tbody>
</table>