<table id="vulnerabilities-table" data-source="<%= vulnerabilities_path(format: :json) %>">
  <thead>
  <tr>
    <th>CVE-ID</th>
    <th>Summary</th>
    <th>CVSS-Score</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>