<%= form_for @system do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.submit 'Submit system', :class => 'btn btn-outline-primary' %>

<% end %>