<%= form_for @system do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit 'Submit system', :class => 'btn btn-primary btn-sm' %>
    </p>
<% end %>