<h1>All systems</h1>

<table id="datatable" data-source="<%= systems_path(format: :json) %>">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= link_to 'Create new system', new_system_path, class: 'btn btn-primary btn-sm' %>