<table id="vendor-index-table" data-source="<%= sft_vendors_path(format: :json) %>">
  <thead>
  <tr>
    <th><%= I18n.t 'sft.vendor.index.table.name' %></th>
    <th><%= I18n.t 'sft.vendor.index.table.software_count' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>